<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="io.tg.minix">

  <uses-permission android:name="android.permission.VIBRATE" />
  <application>

    <activity
      android:name="io.tg.minix.activities.ScanActivity"
      android:theme="@style/AppTheme" />
  </application>
</manifest>
